{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup{% if link.handle == 'products' %} mega-menu__content-product{% endif %}{% if link.handle == 'recipe' %} mega-menu__content-recipe{% endif %}"
                tabindex="-1"
              >
                <div class="mega-menu__content_body">
                  <ul
                    class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      {% assign is_first_link = forloop.first %}
                      {% assign has_current_link = false %}

                      {%- for child in link.links -%}
                        {% if child.current %}
                          {% assign has_current_link = true %}
                          {% break %}
                        {% endif %}
                      {%- endfor -%}

                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="
                            mega-menu__link mega-menu__link--level-2 link
                            {% if childlink.current %} mega-menu__link--active
                            {% elsif is_first_link and has_current_link == false %} mega-menu__link--active
                            {% endif %}
                            {% if link.handle == 'products' %} mega-menu__collection-item{% endif %}
                            {% if link.handle == 'inspiration' %} mega-menu__recipe-item{% endif %}
                            {% if link.handle == 'support' %} mega-menu__support-item{% endif %}
                          "
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                          data-tab="tab-{{ childlink.handle }}"
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}

                    {%- if link.handle == 'products' %}
                      <li>
                        <a
                          id="HeaderMenu-products-collection"
                          href="{{ link.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link"
                          data-tab="tab-all"
                          >ALL PRODUCTS</a
                        >
                      </li>
                      <div class="view_all_box">
                        <div class="view_all_box_line"></div>
                        <a href="{{ link.url }}">View All Products</a>
                      </div>
                    {% elsif link.handle == 'recipe' %}
                      <div class="view_all_box">
                        <div class="view_all_box_line"></div>
                        <a href="{{ link.links[0].url }}">View All Recipes</a>
                      </div>
                    {% elsif link.handle == 'support' %}
                      <div class="view_all_box">
                        <div class="view_all_box_line"></div>
                        {%- for childlink in link.links -%}
                          {%- if childlink.handle == 'blog' %}
                            {% assign is_first_link = forloop.first %}
                            {% assign has_current_link = false %}

                            {%- for child in link.links -%}
                              {% if child.current %}
                                {% assign has_current_link = true %}
                                {% break %}
                              {% endif %}
                            {%- endfor -%}
                            <a
                              href="{{ link.links[0].url }}"
                              style="
                                opacity: 0;pointer-events: none;
                                {% comment %} {% if childlink.current %}opacity: 1
                                {% elsif is_first_link and has_current_link == false %}opacity: 1
                                 {% else %}
                                  opacity: 0;pointer-events: none;
                                {% endif %} {% endcomment %}
                              "
                              id="view_all_blog"
                              >View All Blog</a
                            >
                          {% endif %}
                        {%- endfor -%}
                      </div>
                    {% endif %}
                  </ul>
                  {%- if link.handle == 'products' %}
                    {%- for childlink in link.links -%}
                      <div
                        class="mega-menu__flex-box collection-products{% if forloop.index == 1 %} active{% endif %}"
                        id="tab-{{ childlink.handle }}"
                      >
                        {%- for product in collections[childlink.handle].products limit: 3 -%}
                          {% comment %}
                            <div class="collection-recipe_item">
                              <a href="{{ article.url }}">
                                <img src="{{ article.image | image_url }}" alt="{{ article.title | escape }}">
                                <div class="collection-recipe_item_info">
                                  <div class="collection-recipe_item_info_title">{{ article.title | escape }}</div>
                                  {{- 'arrow-right.svg' | inline_asset_content -}}
                                </div>
                              </a>
                            </div>
                          {% endcomment %}
                          <div class="product-item">
                            <a href="{{ product.url }}">
                              <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}">
                              <h4>{{ product.title | escape }}</h4>
                              <div class="flex-end">
                                <div class="product-desc">{{ product.description }}</div>
                                {{- 'arrow-right.svg' | inline_asset_content -}}
                              </div>
                            </a>
                          </div>
                        {%- endfor -%}
                      </div>
                    {%- endfor -%}
                    <div
                      class="mega-menu__flex-box collection-products"
                      id="tab-all"
                    >
                      {% assign smart_cooking_devices = collections['smart-cooking-devices'].products %}
                      {% assign smart_food_storage = collections['smart-food-storage'].products %}

                      {% assign all_products = smart_cooking_devices | concat: smart_food_storage %}
                      {%- for product in all_products limit: 3 -%}
                        <div class="product-item">
                          <a href="{{ product.url }}">
                            <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}">
                            <h4>{{ product.title | escape }}</h4>
                            <div class="flex-end">
                              <div class="product-desc">{{ product.description }}</div>
                              {{- 'arrow-right.svg' | inline_asset_content -}}
                            </div>
                          </a>
                        </div>
                      {%- endfor -%}
                    </div>
                  {% elsif link.handle == 'inspiration' %}
                    {% comment %}
                      {%- for childlink in link.links -%}
                        <div
                          class="mega-menu__flex-box collection-recipe{% if forloop.index == 1 %} active{% endif %}"
                          id="tab-{{ childlink.handle }}"
                        >
                          {%- for article in blogs[childlink.handle].articles limit: 3 -%}
                            <div class="collection-recipe_item">
                              <a href="{{ article.url }}">
                                <img src="{{ article.image | image_url }}" alt="{{ article.title | escape }}">
                                <div class="collection-recipe_item_info">
                                  <div class="collection-recipe_item_info_title">{{ article.title | escape }}</div>
                                  {{- 'arrow-right.svg' | inline_asset_content -}}
                                </div>
                              </a>
                            </div>
                          {%- endfor -%}
                        </div>
                      {%- endfor -%}
                    {% endcomment %}
                    {%- for childlink in link.links -%}
                      {%- if childlink.handle == 'recipes' %}
                        {% assign is_first_link = forloop.first %}
                        {% assign has_current_link = false %}

                        {%- for child in link.links -%}
                          {% if child.current %}
                            {% assign has_current_link = true %}
                            {% break %}
                          {% endif %}
                        {%- endfor -%}
                        <div
                          class="
                            mega-menu__flex-box collection-recipe{% if childlink.current %} active
                            {% elsif is_first_link and has_current_link == false %} active
                            {% endif %}
                          "
                          id="tab-{{ childlink.handle }}"
                        >
                          {% assign temp_articles = blogs['food-temperature'].articles %}
                          {% assign preservation_articles = blogs['food-preservation'].articles %}

                          {% assign all_articles = temp_articles | concat: preservation_articles %}
                          {% assign sorted_articles = all_articles | sort: 'published_at' | reverse %}
                          {%- for article in sorted_articles limit: 3 -%}
                            <div class="collection-recipe_item">
                              <a href="{{ article.url }}">
                                <img src="{{ article.image | image_url }}" alt="{{ article.title | escape }}">
                                <div class="collection-recipe_item_info">
                                  <div class="collection-recipe_item_info_title">{{ article.title | escape }}</div>
                                  {{- 'arrow-right.svg' | inline_asset_content -}}
                                </div>
                              </a>
                            </div>
                          {%- endfor -%}
                        </div>
                      {% endif %}
                    {%- endfor -%}
                  {% elsif link.handle == 'support' %}
                    {%- for childlink in link.links -%}
                      {%- if childlink.handle == 'blog' %}
                        {% assign is_first_link = forloop.first %}
                        {% assign has_current_link = false %}

                        {%- for child in link.links -%}
                          {% if child.current %}
                            {% assign has_current_link = true %}
                            {% break %}
                          {% endif %}
                        {%- endfor -%}
                        <div
                          class="
                            mega-menu__flex-box collection-support{% if childlink.current %} active
                            {% elsif is_first_link and has_current_link == false %} active
                            {% endif %}
                          "
                          id="tab-{{ childlink.handle }}"
                        >
                          {%- for article in blogs.news.articles limit: 3 -%}
                            <div class="collection-recipe_item">
                              <a href="{{ article.url }}">
                                <img src="{{ article.image | image_url }}" alt="{{ article.title | escape }}">
                                <div class="collection-recipe_item_info">
                                  <div class="collection-recipe_item_info_title">{{ article.title | escape }}</div>
                                  {{- 'arrow-right.svg' | inline_asset_content -}}
                                </div>
                              </a>
                            </div>
                          {%- endfor -%}
                        </div>
                      {% endif %}
                    {%- endfor -%}
                  {% endif %}
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

<script>
  {% comment %} document.addEventListener('DOMContentLoaded', function () {
    const collectionItems = document.querySelectorAll('.mega-menu__collection-item');
    const productListContainer = document.getElementById('collection-products');
    const contentProductElement = document.querySelector('.mega-menu__content-product');

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            loadProducts(collectionItems[0].getAttribute('href'));
            observer.disconnect();
          }
        });
      },
      { threshold: 0.1 }
    );

    if (contentProductElement) {
      observer.observe(contentProductElement);
    }

    collectionItems.forEach((item) => {
      item.addEventListener('click', function (event) {
        event.preventDefault();
        const collectionHandle = this.getAttribute('href');

        collectionItems.forEach((item) => {
          item.classList.remove('mega-menu__link--active');
        });

        this.classList.add('mega-menu__link--active');

        loadProducts(collectionHandle);
      });
    });

    function loadProducts(href) {
      const url = `${href}/products.json?limit=3`;

      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          productListContainer.innerHTML = '';

          data.products.forEach((product) => {
            const productUrl = `/products/${product.handle}`;

            const productHTML = `
              <div class="product-item">
                <a href="${productUrl}">
                  <img src="${product.images[0]?.src}" alt="${product.title}" />
                  <h4>${product.title}</h4>
                  <div class="flex-end">
                    <div class="product-desc">${product.body_html}</div>{{- 'arrow-right.svg' | inline_asset_content -}}
                  </div>
                </a>
              </div>
            `;
            productListContainer.insertAdjacentHTML('beforeend', productHTML);
          });
        })
        .catch((error) => {
          console.error('Error loading products:', error);
        });
    }
  }); {% endcomment %}
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const recipeTabItems = document.querySelectorAll('.mega-menu__recipe-item');
    const recipeTabContents = document.querySelectorAll('.collection-recipe.mega-menu__flex-box');

    recipeTabItems.forEach((item) => {
      item.addEventListener('mouseenter', function (event) {
        event.preventDefault();
        const targetTab = this.getAttribute('data-tab');

        if (targetTab === 'tab-recipes') {
          event.preventDefault();
          recipeTabContents.forEach((content) => {
            content.style.display = 'none';
          });

          document.getElementById(targetTab).style.display = 'flex';

          recipeTabItems.forEach((i) => i.classList.remove('mega-menu__link--active'));
          this.classList.add('mega-menu__link--active');
        }
      });
    });

    const productTabItems = document.querySelectorAll('.mega-menu__collection-item');
    const productTabContents = document.querySelectorAll('.collection-products.mega-menu__flex-box');

    productTabItems.forEach((item) => {
      item.addEventListener('mouseenter', function (event) {
        event.preventDefault();
        const targetTab = this.getAttribute('data-tab');

        productTabContents.forEach((content) => {
          content.style.display = 'none';
        });

        document.getElementById(targetTab).style.display = 'flex';

        productTabItems.forEach((i) => i.classList.remove('mega-menu__link--active'));
        this.classList.add('mega-menu__link--active');
      });
    });

    const supportTabItems = document.querySelectorAll('.mega-menu__support-item');
    const supportTabContents = document.querySelectorAll('.collection-support.mega-menu__flex-box');

    supportTabItems.forEach((item) => {
      item.addEventListener('mouseenter', function (event) {
        const targetTab = this.getAttribute('data-tab');

        if (targetTab === 'tab-blog') {
          event.preventDefault();
          supportTabContents.forEach((content) => {
            content.style.display = 'none';
          });

          document.getElementById(targetTab).style.display = 'flex';
          {% comment %} document.getElementById('view_all_blog').style.opacity = '1';
          document.getElementById('view_all_blog').style.pointerEvents = 'auto'; {% endcomment %}

          supportTabItems.forEach((i) => i.classList.remove('mega-menu__link--active'));
          this.classList.add('mega-menu__link--active');
        }
      });
    });
  });
</script>
