{{ 'section-about-history.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="about-history">
  <div id="section-data" data-blocks='[
    {% for block in section.blocks %}
      {
        "id": "{{ block.id }}",
        "settings": {
          "year": "{{ block.settings.year | escape }}"
        }
      }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]'></div>
  <div class="about-history-swiperBox">
    <h2 class="about-history-heading">{{ section.settings.heading }}</h2>
    <div class="swiper about-history-swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide history-card">
            <img
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.heading }}"
              class="history-image"
            >
            <div class="history-box">
              <h3 class="history-year">{{ block.settings.year }}</h3>
              <div class="history-heading">{{ block.settings.heading }}</div>
              <div class="history-description">{{ block.settings.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="about-history-navigation padding-sider">
    {% comment %}
      {% for block in section.blocks %}
        <div class="navigation-btn">
          <div class="navigation-btn-circle"></div>
          <div class="navigation-btn-title">{{ block.settings.year }}</div>
        </div>
      {% endfor %}
    {% endcomment %}
  </div>
  <div class="navigation-line"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const sectionData = document.getElementById("section-data");
    const blocks = JSON.parse(sectionData.getAttribute("data-blocks"));

    const aboutHistorySwiper = new Swiper('.about-history-swiper', {
      slidesPerView: 'auto',
      spaceBetween: 24,
      freeMode: true,
      pagination: {
        el: ".about-history-navigation",
        clickable: true,
        renderBullet: function (index, className) {
          const block = blocks[index];
          return `
            <div class="${className} navigation-btn">
              <div class="navigation-btn-title">${block.settings.year}</div>
            </div>
          `;
        },
      },
    });

    {% comment %} const categoryBtns = document.querySelectorAll('.navigation-btn');

    categoryBtns.forEach((btn, index) => {
      btn.addEventListener('click', function () {
        {% comment %} categoryBtns.forEach((button) => button.classList.remove('active'));

        btn.classList.add('active'); {% endcomment %}
        aboutHistorySwiper.slideTo(index);
      });
    }); {% endcomment %}
  });
</script>

{% schema %}
{
  "name": "about history",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "year",
          "label": "year"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "about history",
      "blocks": [
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
