{{ 'section-activity-introduction.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="activity-introduction padding-sider">
  <h2 class="activity-introduction-header">{{ section.settings.heading }}</h2>
  <div class="activity-introduction-text">{{ section.settings.text }}</div>
  {% if section.settings.image != blank %}
    <img
      src="{{ section.settings.image | image_url }}"
      alt="black friday"
      class="activity-introduction-img"
    >
  {% endif %}
  <h2 class="activity-introduction-sub_header">{{ section.settings.sub_heading }}</h2>
  <div class="activity-introduction-sub_text">{{ section.settings.sub_text }}</div>
</div>

{% schema %}
{
  "name": "activity introduction",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "sub_heading",
      "label": "sub_heading"
    },
    {
      "type": "inline_richtext",
      "id": "sub_text",
      "label": "sub_text"
    }
  ],
  "presets": [
    {
      "name": "activity introduction"
    }
  ]
}
{% endschema %}
