{{ 'section-best-sellers.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="best-sellers padding-sider new_best-sellers">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        <h2 class="best-sellers-heading">
          {{ block.settings.heading }}
        </h2>
        <div class="best-sellers-text text_24">
          {{ block.settings.text }}
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="swiper-father">
    <!-- Slider main container -->
    <div class="swiper best-sellers-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for product in section.settings.product_list %}
          <div class="swiper-slide product-card">
            <div class="product-image">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}">
              </a>
              {% if product.metafields.custom.tag.value != blank %}
                <div class="product-tag">{{ product.metafields.custom.tag.value }}</div>
              {% endif %}
            </div>
            <div class="product-info">
              <div class="flex-center">
                <h4 class="product-title">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </h4>
              </div>
              <div>
                <div class="flex-center product-star">
                  {% liquid
                    assign rating = product.metafields.custom.rating.value.rating | times: 1 | floor
                  %}
                  {% for i in (1..rating) %}
                    {{- 'star.svg' | inline_asset_content -}}
                  {% endfor %}
                </div>
                <div class="flex-center">
                  {% for item in product.metafields.custom.color.value %}
                    <div class="product-color" style="background-color: {{ item.value }}"></div>
                  {% endfor %}
                </div>
                <div class="flex-start">
                  <div>
                    <span class="product-price h5_28">{{ product.price | money }}</span>
                    <span class="product-compareprice text_24">{{ product.compare_at_price | money }}</span>
                  </div>
                  <a href="{{ product.url }}" class="text_btn_24">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      {% comment %} <div class="swiper-pagination"></div> {% endcomment %}

      <!-- If we need navigation buttons -->

      <!-- If we need scrollbar -->
      {% comment %} <div class="swiper-scrollbar"></div> {% endcomment %}
    </div>
    <div class="swiper-button-prev">{{- 'swiper-left.svg' | inline_asset_content -}}</div>
    <div class="swiper-button-next">{{- 'swiper-right.svg' | inline_asset_content -}}</div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const bestSellersSwiper = new Swiper('.best-sellers-swiper', {
      loop: true,
      spaceBetween: 24,
      breakpoints: {
        1025: {
          slidesPerView: 2,
        },
        0: {
          slidesPerView: 2,
        },
      },
      navigation: {
        nextEl: '.swiper-father .swiper-button-next',
        prevEl: '.swiper-father .swiper-button-prev',
      },
    });
  });
</script>

{% schema %}
{
  "name": "best sellers",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "choose products"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "heading"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "best sellers",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
