{{ 'section-blog-post-content.css' | asset_url | stylesheet_tag }}
{{ 'section-buying-guide-richtext.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="blog-post-content padding-sider">
  <h1 class="blog-post-title">{{ article.title }}</h1>
  <div class="blog-post-info">{{ article.content }}</div>
  {% comment %} <img src="{{ article.image | image_url }}" alt="{{ article.title }}" class="blog-post-image"> {% endcomment %}
  {% if article.metafields.custom.image_with_text_image != blank
    or article.metafields.custom.image_with_text_text != blank
  %}
    <div class="blog-post-image_with_text">
      <img src="{{ article.metafields.custom.image_with_text_image | image_url }}" alt="{{ article.title }}">
      <div class="blog-post-image_with_text-content">
        {{ article.metafields.custom.image_with_text_text | metafield_tag }}
      </div>
    </div>
  {% endif %}
  {% if article.metafields.custom.text_with_two_images_text != blank
    or article.metafields.custom.text_with_two_images_images.value != blank
  %}
    <div class="blog-post-text_with_two_images">
      <div class="blog-post-text_with_two_images-content">
        {{ article.metafields.custom.text_with_two_images_text | metafield_tag }}
      </div>
      <div class="blog-post-text_with_two_images-imgbox">
        {% for img in article.metafields.custom.text_with_two_images_images.value -%}
          <img src="{{ img | image_url }}" alt="{{ article.title }}">
        {%- endfor %}
      </div>
    </div>
  {% endif %}
  {% if blog.handle != 'buying-guide' %}
    <div class="blog-post-navigation">
      {% assign current_article = article %}
      {% assign all_articles = blog.articles %}

      {% assign current_index = 0 %}
      {% for article in all_articles %}
        {% if article.id == current_article.id %}
          {% assign current_index = forloop.index %}
        {% endif %}
      {% endfor %}

      {% assign prev_index = current_index | minus: 2 %}
      {% assign next_index = current_index %}

      {% assign prev_article = all_articles[prev_index] %}
      {% assign next_article = all_articles[next_index] %}

      {% if prev_article %}
        <a href="{{ prev_article.url }}">
          {{- 'left-circle-arrow.svg' | inline_asset_content -}}
        </a>
      {% else %}
        <a href="{{ all_articles.last.url }}">
          {{- 'left-circle-arrow.svg' | inline_asset_content -}}
        </a>
      {% endif %}

      {% if next_article %}
        <a href="{{ next_article.url }}">
          {{- 'right-circle-arrow.svg' | inline_asset_content -}}
        </a>
      {% else %}
        <a href="{{ all_articles.first.url }}">
          {{- 'right-circle-arrow.svg' | inline_asset_content -}}
        </a>
      {% endif %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "blog post content",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "blog post content"
    }
  ]
}
{% endschema %}
