{{ 'section-company-vision.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="company-vision">
  <div class="company-vision-left">
    <h2 class="company-vision-heading">
      {{ section.settings.heading }}
    </h2>
    <div class="company-vision-sec_heading">{{ section.settings.sec_heading }}</div>
    <div class="company-vision-text">{{ section.settings.text }}</div>
  </div>
  <div class="company-vision-right">
    {% for block in section.blocks %}
      <img
        src="{{ block.settings.image | image_url }}"
        alt="company-vision"
      >
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "company vision",
  "max_blocks": 4,
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "sec_heading",
      "label": "sec_heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "company vision",
      "blocks": [
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
