{{ 'section-design-team.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="design-team padding-sider">
  <div class="design-team-main">
    <div class="design-team-left">
      {% for block in section.blocks %}
        <img
          src="{{ block.settings.image | image_url }}"
          alt="design-team"
        >
      {% endfor %}
    </div>
    <div class="design-team-right">
      <h2 class="design-team-heading">
        {{ section.settings.heading }}
      </h2>
      {%- if section.settings.sec_heading != blank -%}
        <div class="design-team-sec_heading">{{ section.settings.sec_heading }}</div>
      {%- endif -%}
      <div class="design-team-text">{{ section.settings.text }}</div>
    </div>
  </div>
  <h2 class="design-team-title">{{ section.settings.title }}</h2>
  <div class="design-team-description">{{ section.settings.description }}</div>
</div>

{% schema %}
{
  "name": "design team",
  "max_blocks": 2,
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "sec_heading",
      "label": "sec_heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "title"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "description"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "design team",
      "blocks": [
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
