{{ 'section-home-banner-swiper.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="home-banner-swiper">
  <div class="swiper home-banner-swiper_contain">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <img
            src="{{ block.settings.image | image_url }}"
            alt="{{ block.settings.heading }}"
            class="swiper-slide-img-pc"
          >
          {% if block.settings.image_pe != blank %}
            <img
              src="{{ block.settings.image_pe | image_url }}"
              alt="{{ block.settings.heading }}"
              class="swiper-slide-img-pe"
            >
          {% endif %}
          <div class="home-banner-swiper_contain-body{% if block.settings.position == 'left' %} position_left{% else %} position_center{% endif %}">
            <h3>{{ block.settings.text }}</h3>
            <h1>{{ block.settings.heading }}</h1>
            <a href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const homeBannerSwiper = new Swiper('.swiper.home-banner-swiper_contain', {
      spaceBetween: 0,
      loop: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Home banner swiper",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "swiper_section",
      "name": "swiper section",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "home banner Image"
        },
        {
          "id": "image_pe",
          "type": "image_picker",
          "label": "home banner Image mobile"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "home banner heading"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "home banner text"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "button link"
        },
        {
          "type": "radio",
          "id": "position",
          "label": "position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "centere",
              "label": "Centere"
            }
          ],
          "default": "left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home banner swiper",
      "blocks": [
        {
          "type": "swiper_section"
        }
      ]
    }
  ]
}
{% endschema %}
