{{ 'section-home-blog.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="home-blog">
  <h2 class="home-blog-heading">
    {{ section.settings.heading }}
  </h2>
  <div class="home-blog-text">{{ section.settings.text }}</div>

    <div class="blog-contain">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% if forloop.index0 == 0 %}
            <div class="blog-item-left">
              {% if block.settings.article.image %}
                <img src="{{ block.settings.article.image | image_url }}" alt="{{ block.settings.article.title }}" class="blog-img">
              {% endif %}
              <div class="blog-info">
                <div>
                  <h3 class="blog-title">
                    {{ block.settings.article.title | truncate: 35 }}
                  </h3>
                  <div class="blog-excerpt">{{ block.settings.article.excerpt | strip_html | truncate: 250 }}</div>
                </div>
                <a href="{{ block.settings.article.url }}">Learn more</a>
              </div>
            </div>
          {% else %}
            {% if forloop.index0 == 1 %}
              <div class="blog-item-right-group">
            {% endif %}
            <div class="blog-item-right">
              {% if block.settings.article.image %}
                <img src="{{ block.settings.article.image | image_url }}" alt="{{ block.settings.article.title }}" class="blog-img">
              {% endif %}
              <div class="blog-info">
                <div>
                  <h3 class="blog-title">
                    {{ block.settings.article.title | truncate: 24 }}
                  </h3>
                  <div class="blog-excerpt">{{ block.settings.article.excerpt | strip_html | truncate: 184 }}</div>
                </div>
                <a href="{{ block.settings.article.url }}">Learn more</a>
              </div>
            </div>
            {% if forloop.index0 == 2 %}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "home blog",
  "tag": "section",
  "class": "section",
  "max_blocks": 3,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "blog",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Select Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "home blog",
      "blocks": [
        {
          "type": "blog"
        }
      ]
    }
  ]
}
{% endschema %}
