{{ 'section-policy-tab.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="policy-tab">
  <div class="policy-tab-left">
    <div class="policy-tab-left-title">Support</div>
    <div class="policy-tab-list">
      {%- for block in section.blocks -%}
        <div class="policy-tab-list-item" data-tab="tab-{{ forloop.index }}">
          {{ block.settings.title }}
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="policy-tab-right">
    {%- for block in section.blocks -%}
      <div
        class="policy-tab-content"
        id="tab-{{ forloop.index }}"
        {% if forloop.index != 1 %}
          style="display: none;"
        {% endif %}
      >
        {{ block.settings.content }}
      </div>
    {%- endfor -%}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabListItems = document.querySelectorAll('.policy-tab-list-item');
    const tabContents = document.querySelectorAll('.policy-tab-content');

    tabListItems.forEach((item) => {
      item.addEventListener('click', function () {
        const targetTab = this.getAttribute('data-tab');

        tabContents.forEach((content) => {
          content.style.display = 'none';
        });

        document.getElementById(targetTab).style.display = 'block';

        tabListItems.forEach((i) => i.classList.remove('active'));
        this.classList.add('active');
      });
    });

    tabListItems[0].classList.add('active');
  });
</script>

{% schema %}
{
  "name": "policy tab",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "tab",
      "name": "tab",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "page"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "policy tab",
      "blocks": [
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
