{{ 'section-hot-video.css' | asset_url | stylesheet_tag }}

<section id="section-{{ section.id }}" class="hot-video padding-sider">
  <div class="blog-list">
    {% for block in section.blocks %}
      <div class="blog-item">

        <iframe
          src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1"
          class="blog-img"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ block.settings.heading | escape }}"
        ></iframe>
        <div class="flex-center">
          <h3 class="blog-title">
            {{ block.settings.heading }}
          </h3>
          <span class="blog-date">{{ block.settings.date }}</span>
        </div>
        <div class="blog-excerpt">{{ block.settings.description }}</div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "hot video",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "video_item",
      "name": "video_item",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube"],
          "label": "video_url"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "heading"
        },
        {
          "type": "text",
          "id": "date",
          "label": "date"
        },
        {
          "type": "text",
          "id": "description",
          "label": "description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "hot video",
      "blocks": [
        {
          "type": "video_item"
        }
      ]
    }
  ]
}
{% endschema %}
