{{ 'section-hot-video.css' | asset_url | stylesheet_tag }}

{% if product.metafields.custom.product_videos.size > 0 %}
<section id="section-{{ section.id }}" class="hot-video padding-sider">
  <div class="blog-list">
    {% for video in product.metafields.custom.product_videos %}
      <div class="blog-item">
        {% if video.video_url %}
          <iframe
            src="{{ video.video_url | replace: 'watch?v=', 'embed/' }}"
            class="blog-img"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ video.title | escape}}">
          </iframe>
        {% endif %}
        <div class="flex-center">
          {% if video.title %}
          <h3 class="blog-title">
            {{ video.title }}
          </h3>
          {% endif %}
          {% if video.date %}
          <span class="blog-date">{{  video.date }}</span>
          {% endif %}
        </div>
        
        {% if video.description %}
          <div class="blog-excerpt">{{ video.description }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Hot Video (Metaobject)",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Hot Video"
    }
  ]
}
{% endschema %}

