{{ 'section-unique-selling.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="unique-selling padding-sider">
  <h2 class="unique-selling-heading">
    {{ section.settings.heading }}
  </h2>
  <p class="unique-selling-text">{{ section.settings.text }}</p>

  <div class="unique-selling-contain">
    <div class="left-side">
      <img
        src="{{ section.settings.image | image_url }}"
        alt="unique selling"
        class="left-side-bg"
      >
      <div>
        {% for block in section.blocks %}
          <div class="left-side-dot" data-product-id="{{ block.settings.product.id }}">
            {% comment %} {{- 'circle.svg' | inline_asset_content -}} {% endcomment %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="right-side">
      <div class="swiper unique-selling-swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide product-card" data-product-id="{{ block.settings.product.id }}">
              <div class="product-image">
                <img
                  src="{{ block.settings.product.featured_media | image_url }}"
                  alt="{{ block.settings.product.title }}"
                >
                <a href="{{ block.settings.product.url }}" class="product-btn">
                  {{- 'shopping.svg' | inline_asset_content -}}
                </a>
              </div>
              <h3 class="product-title">
                <a href="{{ block.settings.product.url }}">{{ block.settings.product.title }}</a>
              </h3>
              <div class="product-price">{{ block.settings.product.price | money }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">{{- 'swiper-left.svg' | asset_url | img_tag -}}</div>
      <div class="swiper-button-next">{{- 'swiper-right.svg' | asset_url | img_tag -}}</div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const uniqueSellingSwiper = new Swiper('.unique-selling-swiper', {
      loop: true,
      navigation: {
        nextEl: '.right-side .swiper-button-next',
        prevEl: '.right-side .swiper-button-prev',
      },
      pagination: {
        el: '.right-side .swiper-pagination',
        type: 'fraction',
      },
    });

    document.querySelectorAll('.left-side-dot').forEach(function (dot, index) {
      dot.addEventListener('click', function () {
        var productId = dot.getAttribute('data-product-id');

        var correspondingSlide = document.querySelector('.swiper-slide[data-product-id="' + productId + '"]');

        if (correspondingSlide) {
          uniqueSellingSwiper.slideTo(index);
        }
      });
    });
  });
</script>

{% schema %}
{
  "name": "unique selling",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "choose product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "unique selling",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
